.themeSwitch {
	border-radius: 4px;
	display: grid;
	justify-items: center;
	align-items: center;
	width: 50px;
	height: 30px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	&:focus-within {
		outline: var(--outline-focus);
	}

	&:focus-visible {
		outline: none;
	}

	input[type='checkbox'] {
		width: 0;
		height: 0;
		margin: 0;
		opacity: 0;

		&:focus {
			outline: none;
		}
	}

	div {
		background: var(--color-prymary-main);
		border-radius: 10px;
		position: relative;
		width: 30px;
		height: 14px;
	}

	div::after {
		content: '🌝';
		position: absolute;
		line-height: 24px;
		font-size: 22px;
		top: -4px;
		left: -6px;
		transition: 0.3s;
	}

	div[data-theme='dark']::after {
		content: '🌚';
		position: absolute;
		line-height: 24px;
		font-size: 22px;
		top: -4px;
		left: 16px;
		transition: 0.3s;
	}
}
