nav {
	background: var(--color-background-dark);
	width: max-content;
	border-radius: 5px;
}

.navButton {
	background: none;
	border: none;
	margin: 0 5px;
	opacity: 0.8;
	transition: opacity 0.2s;
	padding: 0 var(--spacing-S);

	&:hover {
		border: none;
		opacity: 1;
	}

	&.active {
		opacity: 1;
	}
}
