//colors

$color-main: #0000FF;
$color-secondary: #7EC8E3;
$color-link: #919191;
$header-background-color: #0000FF;
$header-color: white;
$main-background-color: radial-gradient(100% 100% at 50.13% 0%, white 0%, #f1c79a8a 100%);
