//colors

$color-main: #ff0000;
$color-secondary: #2aa1f7;
$color-link: #919191;
$header-background-color: #38876f;
$header-color: white;
$main-background-color: radial-gradient(100% 100% at 50.13% 0%, white 0%, #f1c79a8a 100%);
