.container {
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--color-background-transparent);
	backdrop-filter: blur(3px);
	align-items: center;
	justify-content: center;
	padding: var(--spacing-M);
	box-sizing: border-box;
	top: 0;
	left: 0;
}

.transparent {
	background-color: transparent;
	backdrop-filter: none;
	pointer-events: none;
	&* {
		pointer-events: auto;
	}
}
